

.home {
  text-align: center;
  justify-content: center;
}

.cart {
  text-align: center;
  justify-content: center;
}

.movies {
  text-align: center;
  justify-content: center;
}

.about {
  text-align: center;
  justify-content: center;
}

.home label {
  font: Verdana;
  font-size: em;
}

.home form {
  padding: 10px;
  justify-content: center;
}



.nav {
  display: flex;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 7px solid rgb(16, 53, 133);
  border-style: double inset;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 5, 5);
}

.nav-page{
  display: flex;
  gap: 20px;
  font-size: 1.2em;
  a:link { color: rgba(0,17,255);
    text-decoration: none;
    font-style: none;};
  a:visited { color: rgba(0, 17, 255);
    text-decoration: none;
    font-style: none;};
  a:hover {color:red;
  font-style: italic;};
  a:active {color:red;};
}
.site-name {
  font-size: 2.2em; 
  margin-right: 20px;
  color: blue;
  text-decoration: none;
  text-shadow: 2px 2px 2px rgb(216, 9, 9);
  font-style: italic; 
}